body {
    max-width: 1024px;
}

/* contenitore logo style */
.logo-container {
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    height: 150px;
    position: relative;
}

.logo {
    width: 200px;   
    position: absolute;
    left: 10px;
    bottom: 10px;
}

h1 {
    margin-bottom: 0;
}

/* link società style */
#fonte {
    text-decoration: none;
    color: rgb(36, 170, 229);
}

.info-article {
    color: rgb(128, 128, 128);
    margin-bottom: 20px;
}

.img-description {
    margin-top: 10px;
}
#didascalia {
    font-size: 12px;
}

/* cancella rientro lista  */
ul {
    padding-left: 15px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

/* resize terza colonna  */
#resize-tab {
    width: 50%;
}

.th-row {
    background-color: rgb(32, 169, 229);
    color: white;
}

.row-lightblue {
    background-color: rgb(177, 229, 242);
}

h3 {
    color: rgb(128, 128, 128);
    margin-bottom: 0;
}

.suggerimento1 {
    width: 260px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
    background-position: left;
    background-size: cover;
}

.suggerimento2 {
    width: 260px;
    height: 200px;
    background-image: url(../img/graph.jpg);
    background-position: left;
    background-size: cover;
}

h4 {
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 10px;
}